{
  "semi": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "printWidth": 160,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"]
}

